<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <title>فینتو</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon-16x16.png"
    />
    <link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Description no longer than 155 characters -->
    <meta name="description" content="Finto - Finance Website Coded Template" />
    <!-- Product Name -->
    <meta
      name="product-name"
      content="Finto - Finance Website Coded Template"
    />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ui8" />
    <meta
      name="twitter:title"
      content="Finto - Finance Website Coded Template"
    />
    <meta
      name="twitter:description"
      content="Premium Finance Website Template"
    />
    <meta name="twitter:creator" content="@ui8" />
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta
      name="twitter:image"
      content="https://ui8-finto-html-698394efb3c9.herokuapp.com/img/twitter-card.png"
    />
    <!-- Open Graph data for Facebook -->
    <meta
      property="og:title"
      content="Finto - Finance Website Coded Template"
    />
    <meta property="og:type" content="Article" />
    <meta
      property="og:url"
      content="https://ui8.net/unpixel/products/finto---finance-website-coded-template"
    />
    <meta
      property="og:image"
      content="https://ui8-finto-html-698394efb3c9.herokuapp.com/img/fb-og-image.png"
    />
    <meta
      property="og:description"
      content="Premium Finance Website Template"
    />
    <meta
      property="og:site_name"
      content="Finto - Finance Website Coded Template"
    />
    <meta property="fb:admins" content="132951670226590" />
    <!-- Open Graph data for LinkedIn -->
    <meta
      property="og:title"
      content="Finto - Finance Website Coded Template"
    />
    <meta
      property="og:url"
      content="https://ui8.net/unpixel/products/finto---finance-website-coded-template"
    />
    <meta
      property="og:image"
      content="https://ui8-finto-html-698394efb3c9.herokuapp.com/img/linkedin-og-image.png"
    />
    <meta
      property="og:description"
      content="Premium Finance Website Template"
    />
    <!-- Open Graph data for Pinterest -->
    <meta
      property="og:title"
      content="Finto - Finance Website Coded Template"
    />
    <meta
      property="og:url"
      content="https://ui8.net/unpixel/products/finto---finance-website-coded-template"
    />
    <meta
      property="og:image"
      content="https://ui8-finto-html-698394efb3c9.herokuapp.com/img/pinterest-og-image.png"
    />
    <meta
      property="og:description"
      content="Premium Finance Website Template"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600&amp;display=swap"
      rel="stylesheet"
    />
    <link href="css/style.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      rel="stylesheet"
    />
    <script>
      let viewportmeta = document.querySelector('meta[name="viewport"]');
      if (viewportmeta) {
        if (screen.width < 375) {
          let newScale = screen.width / 375;
          viewportmeta.content =
            "width=375, minimum-scale=" +
            newScale +
            ", maximum-scale=1.0, user-scalable=no, initial-scale=" +
            newScale +
            "";
        } else {
          viewportmeta.content =
            "width=device-width, maximum-scale=1.0, initial-scale=1.0";
        }
      }
    </script>
  </head>
  <body>
    <!-- header-->
    <header
      class="fixed top-0 left-0 right-0 z-20 border-b bg-white border-greyscale-200/60"
    >
      <div class="container-md flex items-center h-22 md:h-18">
        <a class="shrink-0 w-26 ml-12 lg:mr-auto" href="index.html"><img class="w-full" src="img/logo-dark.svg" alt=""></a>

        <div
          class="header-wrap flex items-center grow lg:fixed lg:top-0 lg:right-0 lg:bottom-0 lg:z-10 lg:w-80 lg:flex-col lg:items-stretch lg:py-20 lg:px-8 lg:pb-8 lg:transition-transform lg:translate-x-full lg:bg-greyscale-0"
        >
          <nav
            class="flex items-center space-x-4 lg:flex-col lg:items-stretch lg:space-x-0 lg:space-y-8"
          >
            <a
              class="px-2.5 py-1 text-base font-medium transition-colors lg:text-xl text-greyscale-900 hover:text-primary-100"
              href="features.html"
              >امکانات</a
            ><a
              class="px-2.5 py-1 text-base font-medium transition-colors lg:text-xl text-greyscale-900 hover:text-primary-100"
              href="solutions.html"
              >راه حل ها</a
            ><a
              class="px-2.5 py-1 text-base font-medium transition-colors lg:text-xl text-greyscale-900 hover:text-primary-100"
              href="customers.html"
              >مشتریان</a
            ><a
              class="px-2.5 py-1 text-base font-medium transition-colors lg:text-xl text-greyscale-900 hover:text-primary-100"
              href="integrations.html"
              >منابع</a
            ><a
              class="px-2.5 py-1 text-base font-medium transition-colors lg:text-xl text-greyscale-900 hover:text-primary-100"
              href="pricing.html"
              >قیمت گذاری</a
            >
          </nav>
          <div class="flex items-center mr-auto space-x-3 lg:mt-auto lg:ml-0">
            <a
              class="btn-secondary bg-transparent btn-sm gap"
              href="sign-in.html"
              >ورود</a
            ><a class="btn-primary btn-sm" href="sign-up.html"
              >ایجاد حساب کاربری</a
            >
          </div>
        </div>
        <button
          class="header-burger hidden relative z-20 flex-col justify-center items-start w-6 h-6 tap-highlight-color before:w-5 before:h-0.5 before:rounded-full before:transition-all after:w-5 after:h-0.5 after:rounded-full after:transition-all lg:flex before:bg-greyscale-900 after:bg-greyscale-900"
        >
          <span
            class="w-5 h-0.5 my-1 rounded-full transition-all bg-greyscale-900"
          ></span>
        </button>
      </div>
      <div
        class="header-overlay hidden fixed inset-0 z-5 bg-greyscale-900/90 lg:block lg:invisible lg:opacity-0 lg:transition-all"
      ></div>
    </header>
    <div class="relative flex flex-col min-h-screen overflow-hidden">
      <div class="relative z-2 flex flex-col grow pt-22 md:pt-18">
        <!-- hero-->
        <div class="py-18 pb-20 md:pt-12 md:pb-6">
          <div class="container">
            <div class="flex items-center mb-18 lg:block md:mb-6">
              <div class="grow pr-10 lg:mb-10 lg:pr-0 md:mb-8">
                <div class="label mb-4">
                  <img
                    class="w-4.5 mr-2 gaps"
                    src="img/wallet.svg"
                    alt=""
                  /><span>پرداخت ها</span>
                </div>
                <div
                  class="max-w-[32rem] mb-4 text-h1 xl:text-h2 lg:max-w-full"
                >
                  پرداخت جهانی برای رشد کسب و کار شما
                </div>
                <div
                  class="max-w-[29.6rem] mb-10 text-greyscale-400 lg:max-w-full md:mb-6"
                >
                  رشد یک کسب و کار SaaS می تواند کار سختی باشد. چه تو در حال
                  شروع باشی یا فروش مانند کیک داغ، ما از شما حمایت می کنیم. شروع
                  بدون آزمایش، بدون قرارداد، بدون خطر رایگان است.
                </div>
                <div class="flex space-x-4 md:block md:space-x-0 md:space-y-4">
                  <a
                    class="btn-primary min-w-[10.6rem] px-5 md:min-w-full gap"
                    href="sign-up.html"
                    >ایجاد حساب کاربری</a
                  >
                  <a
                    class="btn-secondary min-w-[10.6rem] px-5 md:min-w-full"
                    href="contact-us.html"
                    >تماس با قسمت فروش</a
                  >
                </div>
              </div>
              <div
                class="relative shrink-0 w-[31.25rem] p-10 bg-greyscale-25 lg:w-full md:p-6"
              >
                <img
                  class="w-full border border-greyscale-100 shadow-3"
                  src="img/features-pic.jpg"
                  alt=""
                />
              </div>
            </div>
            <!-- companies-->
            <div class="flex items-start py-6 lg:block">
              <div class="flex flex-wrap justify-between grow pt-0.5 lg:pt-0">
                <div
                  class="max-w-[11.9rem] mr-28 text-base font-medium text-greyscale-300 xl:mr-16 lg:max-w-full lg:mb-8 lg:mr-0 lg:text-center md:max-w-[11.9rem] md:mx-auto md:mb-0"
                >
                  مورد اعتماد هزاران شرکت در جهان
                </div>
                <div class="md:w-1/2 md:mt-6 md:flex md:justify-center">
                  <img
                    class="w-auto h-10 md:h-8"
                    src="img/mailchimp-dark.svg"
                    alt=""
                  />
                </div>
                <div class="md:w-1/2 md:mt-6 md:flex md:justify-center">
                  <img
                    class="w-auto h-10 md:h-8"
                    src="img/airtable-dark.svg"
                    alt=""
                  />
                </div>
                <div class="md:w-1/2 md:mt-6 md:flex md:justify-center">
                  <img
                    class="w-auto h-10 md:h-8"
                    src="img/gumroad-dark.svg"
                    alt=""
                  />
                </div>
                <div class="md:w-1/2 md:mt-6 md:flex md:justify-center">
                  <img
                    class="w-auto h-10 md:h-8"
                    src="img/notion-dark.svg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- payments-->
        <div class="relative section bg-greyscale-25">
          <div class="relative z-2">
            <div class="container">
              <div class="mb-16 lg:mb-12 md:mb-8">
                <div class="stage">پرداخت های آنلاین</div>
                <div class="mb-4 text-h2 xl:text-h3 md:text-h4">
                  تجربه پرداخت خود را بهینه کنید
                </div>
                <div class="max-w-[46.6rem] text-greyscale-400">
                  تجربه مجموعه تسویه حساب بهینه شده مشتری بدون کسری را ارائه می
                  دهد . افزایش درآمد و صرفه جویی در هزاران مهندسی ساعت با پرداخت
                  از پیش ساخته شده
                </div>
              </div>
              <div
                class="flex flex-wrap -mt-6 -mx-3 lg:block lg:m-0 lg:space-y-8 md:space-y-6"
              >
                <div
                  class="flex flex-col justify-between w-[calc(59%-1.5rem)] mt-6 mx-3 p-4 shadow-2 bg-greyscale-0 border border-greyscale-100 lg:w-full lg:m-0"
                >
                  <div class="p-2 mb-6">
                    <div class="mb-3 text-h6">پرداخت های از پیش ساخته شده</div>
                    <div class="text-lg text-greyscale-400">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که.
                    </div>
                  </div>
                  <div class="bg-greyscale-25 border border-greyscale-100">
                    <img class="w-full" src="img/payments-pic-1.png" alt="" />
                  </div>
                </div>
                <div
                  class="flex flex-col-reverse justify-between w-[calc(41%-1.5rem)] mt-6 mx-3 p-4 shadow-2 bg-greyscale-0 border border-greyscale-100 lg:w-full lg:m-0"
                >
                  <div class="p-2 mt-6">
                    <div class="mb-3 text-h6">لینک های پرداخت</div>
                    <div class="text-lg text-greyscale-400">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که.
                    </div>
                  </div>
                  <div class="bg-greyscale-25 border border-greyscale-100">
                    <img class="w-full" src="img/payments-pic-2.png" alt="" />
                  </div>
                </div>
                <div
                  class="flex flex-col-reverse justify-between w-[calc(41%-1.5rem)] mt-6 mx-3 p-4 shadow-2 bg-greyscale-0 border border-greyscale-100 lg:w-full lg:m-0"
                >
                  <div class="p-2 mt-6">
                    <div class="mb-3 text-h6">اجزای رابط کاربری</div>
                    <div class="text-lg text-greyscale-400">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که.
                    </div>
                  </div>
                  <div class="bg-greyscale-25 border border-greyscale-100">
                    <img class="w-full" src="img/payments-pic-3.png" alt="" />
                  </div>
                </div>
                <div
                  class="flex flex-col justify-between w-[calc(59%-1.5rem)] mt-6 mx-3 p-4 shadow-2 bg-greyscale-0 border border-greyscale-100 lg:w-full lg:m-0"
                >
                  <div class="p-2 mb-6">
                    <div class="mb-3 text-h6">بررسی با یک کلیک</div>
                    <div class="text-lg text-greyscale-400">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و مجله در ستون و سطرآنچنان که.
                    </div>
                  </div>
                  <div class="bg-greyscale-25 border border-greyscale-100">
                    <img class="w-full" src="img/payments-pic-4.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="absolute top-0 left-1/2 bottom-0 flex justify-between w-[81rem] -translate-x-1/2 pointer-events-none 3xl:w-[75rem] lxl:left-6 lxl:right-6 lxl:w-auto lxl:translate-x-0 md:left-4.5 md:right-4.5"
          >
            <div
              class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider"
            ></div>
            <div
              class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider"
            ></div>
            <div
              class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider"
            ></div>
            <div
              class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider"
            ></div>
            <div
              class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider"
            ></div>
          </div>
        </div>
        <!-- global-->
        <div class="pt-30 pb-22 xl:pt-24 xl:pb-20 md:py-12">
          <div class="container">
            <div class="flex items-center mb-14 lg:block md:mb-8">
              <div class="grow pr-10 lg:mb-10 lg:pr-0 md:mb-8">
                <div class="max-w-[30.9rem] lg:max-w-full">
                  <div class="stage">پرداخت های جهانی</div>
                  <div class="mb-4 text-h2 xl:text-h3 md:text-h4">
                    بازار جدید را سریعتر و آسانتر گسترش دهید
                  </div>
                  <div class="mb-12 text-greyscale-400 xl:mb-10 md:mb-4">
                    کاهش پیچیدگی و هزینه مدیریت چند ارزی با گزینه های پرداخت
                    برون مرزی انعطاف پذیر موجود در 195 کشورها در بیش از 135 ارز
                  </div>
                  <a class="btn-primary pr-5.5 md:w-full" href="pricing.html">
                    <span>بیشتر بخوانید</span>
                    <svg
                      class="w-5 h-5 rot"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M12.795 4.905l6.3 6.3.017.017.052.058-.069-.075c.036.036.069.074.1.114l.04.055.03.047.032.057.026.052.023.053a1.13 1.13 0 0 1 0 .835l-.023.052-.026.052-.033.058-.029.046-.04.056-.03.038-.052.058-.017.017-6.3 6.3c-.439.439-1.152.439-1.591 0s-.439-1.152 0-1.591l4.377-4.38H5.7c-.621 0-1.125-.504-1.125-1.125s.504-1.125 1.125-1.125h9.884l-4.379-4.38c-.399-.399-.436-1.024-.109-1.465l.109-.126c.439-.439 1.152-.439 1.591 0z"
                      />
                    </svg>
                  </a>
                </div>
              </div>
              <div
                class="shrink-0 w-[31.25rem] bg-greyscale-25 border border-greyscale-100 lg:w-full"
              >
                <img class="w-full" src="img/global-1.png" alt="" />
              </div>
            </div>
            <div class="flex space-x-8 lg:block lg:space-x-0 lg:space-y-6">
              <div
                class="flex-1 p-6 bg-greyscale-0 border border-greyscale-100 shadow-2 gapx"
              >
                <div
                  class="flex justify-center items-center w-12 h-12 mb-6 rounded-full bg-secondary-0"
                >
                  <img class="w-6" src="img/credit-card.svg" alt="" />
                </div>
                <div class="mb-3 text-h6">بیش از 100 راه پرداخت</div>
                <div class="text-greyscale-400">
                  ایده محصول خود را با راه اندازی پرداخت های کم به هیچ وجه
                  آزمایش کنید کد
                </div>
              </div>
              <div
                class="flex-1 p-6 bg-greyscale-0 border border-greyscale-100 shadow-2"
              >
                <div
                  class="flex justify-center items-center w-12 h-12 mb-6 rounded-full bg-secondary-0"
                >
                  <img class="w-6" src="img/credit-card-refresh.svg" alt="" />
                </div>
                <div class="mb-3 text-h6">تبدیل خودکار</div>
                <div class="text-greyscale-400">
                  ایده محصول خود را با راه اندازی پرداخت های کم به هیچ وجه
                  آزمایش کنید کد
                </div>
              </div>
              <div
                class="flex-1 p-6 bg-greyscale-0 border border-greyscale-100 shadow-2"
              >
                <div
                  class="flex justify-center items-center w-12 h-12 mb-6 rounded-full bg-secondary-0"
                >
                  <img class="w-6" src="img/coins-hand.svg" alt="" />
                </div>
                <div class="mb-3 text-h6">مدیریت وجوه</div>
                <div class="text-greyscale-400">
                  ایده محصول خود را با راه اندازی پرداخت های کم به هیچ وجه
                  آزمایش کنید کد
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- reviews-->
        <div class="pt-22 pb-24 xl:pb-22 md:pt-12 md:pb-6" dir="ltr">
          <div class="container">
            <div class="mb-12 xl:mb-8 md:mb-4" dir="rtl">
              <div class="stage">گواهینامه</div>
              <div class="text-h2 xl:text-h3 md:text-h4">
                آنچه مشتریان می گوید
              </div>
            </div>
            <div
              class="relative py-6 overflow-hidden before:absolute before:top-0 before:left-0 before:bottom-0 before:z-2 before:w-1/5 before:bg-gradient-to-r before:from-white before:to-white/0 after:absolute after:top-0 after:right-0 after:bottom-0 after:z-2 after:w-1/5 after:bg-gradient-to-l after:from-white after:to-white/0 lg:-mx-12 lg:before:w-24 lg:after:w-24 md:-mx-6 md:before:w-18 md:after:w-18"
            >
              <!-- splide-->
              <div class="splide splide-reviews">
                <div class="splide__track">
                  <div class="splide__list">
                    <div class="splide__slide w-[22.875rem]">
                      <div
                        class="flex flex-col p-6 border border-greyscale-100 bg-greyscale-0 shadow-2 first:mb-8 first:-mr-[9.5rem] first:ml-[9.5rem] xl:first:mb-6"
                      >
                        <div
                          dir="rtl"
                          class="h-[8.4375rem] mb-3.5 font-medium line-clamp-5"
                        >
                          وقتی با قرض دادن ثبت‌نام کردم بی‌معنی بود. این یکی از
                          بهترین تصمیماتی بود که من برای آن گرفتم اطمینان حاصل
                          کنم که وضعیت مالی من درست است
                        </div>
                        <div dir="rtl" class="flex items-center">
                          <div class="shrink-0 w-10 h-10 mr-4 gap">
                            <img
                              class="w-full h-full object-cover rounded-full"
                              src="img/avatar-1.jpg"
                              alt=""
                            />
                          </div>
                          <div class="grow">
                            <div dir="rtl" class="mb-1.5 text-lg font-semibold">
                              الکس برجلینگ
                            </div>
                            <div dir="rtl" class="text-base text-greyscale-400">
                              حسابداری در میل چیمپ
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="flex flex-col p-6 border border-greyscale-100 bg-greyscale-0 shadow-2 first:mb-8 first:-mr-[9.5rem] first:ml-[9.5rem] xl:first:mb-6"
                      >
                        <div
                          dir="rtl"
                          class="h-[8.4375rem] mb-3.5 font-medium line-clamp-5"
                        >
                          وقتی با قرض دادن ثبت‌نام کردم بی‌معنی بود. این یکی از
                          بهترین تصمیماتی بود که من برای آن گرفتم اطمینان حاصل
                          کنم که وضعیت مالی من درست است
                        </div>
                        <div dir="rtl" class="flex items-center">
                          <div class="shrink-0 w-10 h-10 mr-4 gap">
                            <img
                              class="w-full h-full object-cover rounded-full"
                              src="img/avatar-2.jpg"
                              alt=""
                            />
                          </div>
                          <div class="grow">
                            <div dir="rtl" class="mb-1.5 text-lg font-semibold">
                              الکس برجلینگ
                            </div>
                            <div dir="rtl" class="text-base text-greyscale-400">
                              حسابداری در میل چیمپ
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="splide__slide w-[22.875rem]">
                      <div
                        class="flex flex-col p-6 border border-greyscale-100 bg-greyscale-0 shadow-2 first:mb-8 first:-mr-[9.5rem] first:ml-[9.5rem] xl:first:mb-6"
                      >
                        <div
                          dir="rtl"
                          class="h-[8.4375rem] mb-3.5 font-medium line-clamp-5"
                        >
                          وقتی با قرض دادن ثبت‌نام کردم بی‌معنی بود. این یکی از
                          بهترین تصمیماتی بود که من برای آن گرفتم اطمینان حاصل
                          کنم که وضعیت مالی من درست است
                        </div>
                        <div dir="rtl" class="flex items-center">
                          <div class="shrink-0 w-10 h-10 mr-4 gap">
                            <img
                              class="w-full h-full object-cover rounded-full"
                              src="img/avatar-3.jpg"
                              alt=""
                            />
                          </div>
                          <div class="grow">
                            <div dir="rtl" class="mb-1.5 text-lg font-semibold">
                              الکس برجلینگ
                            </div>
                            <div dir="rtl" class="text-base text-greyscale-400">
                              حسابداری در میل چیمپ
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="flex flex-col p-6 border border-greyscale-100 bg-greyscale-0 shadow-2 first:mb-8 first:-mr-[9.5rem] first:ml-[9.5rem] xl:first:mb-6"
                      >
                        <div
                          dir="rtl"
                          class="h-[8.4375rem] mb-3.5 font-medium line-clamp-5"
                        >
                          وقتی با قرض دادن ثبت‌نام کردم بی‌معنی بود. این یکی از
                          بهترین تصمیماتی بود که من برای آن گرفتم اطمینان حاصل
                          کنم که وضعیت مالی من درست است
                        </div>
                        <div dir="rtl" class="flex items-center">
                          <div class="shrink-0 w-10 h-10 mr-4 gap">
                            <img
                              class="w-full h-full object-cover rounded-full"
                              src="img/avatar-1.jpg"
                              alt=""
                            />
                          </div>
                          <div class="grow">
                            <div dir="rtl" class="mb-1.5 text-lg font-semibold">
                              الکس برجلینگ
                            </div>
                            <div dir="rtl" class="text-base text-greyscale-400">
                              حسابداری در میل چیمپ
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="splide__slide w-[22.875rem]">
                      <div
                        class="flex flex-col p-6 border border-greyscale-100 bg-greyscale-0 shadow-2 first:mb-8 first:-mr-[9.5rem] first:ml-[9.5rem] xl:first:mb-6"
                      >
                        <div
                          dir="rtl"
                          class="h-[8.4375rem] mb-3.5 font-medium line-clamp-5"
                        >
                          وقتی با قرض دادن ثبت‌نام کردم بی‌معنی بود. این یکی از
                          بهترین تصمیماتی بود که من برای آن گرفتم اطمینان حاصل
                          کنم که وضعیت مالی من درست است
                        </div>
                        <div dir="rtl" class="flex items-center">
                          <div class="shrink-0 w-10 h-10 mr-4 gap">
                            <img
                              class="w-full h-full object-cover rounded-full"
                              src="img/avatar-2.jpg"
                              alt=""
                            />
                          </div>
                          <div class="grow">
                            <div dir="rtl" class="mb-1.5 text-lg font-semibold">
                              الکس برجلینگ
                            </div>
                            <div dir="rtl" class="text-base text-greyscale-400">
                              حسابداری در میل چیمپ
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="flex flex-col p-6 border border-greyscale-100 bg-greyscale-0 shadow-2 first:mb-8 first:-mr-[9.5rem] first:ml-[9.5rem] xl:first:mb-6"
                      >
                        <div
                          dir="rtl"
                          class="h-[8.4375rem] mb-3.5 font-medium line-clamp-5"
                        >
                          وقتی با قرض دادن ثبت‌نام کردم بی‌معنی بود. این یکی از
                          بهترین تصمیماتی بود که من برای آن گرفتم اطمینان حاصل
                          کنم که وضعیت مالی من درست است
                        </div>
                        <div dir="rtl" class="flex items-center">
                          <div class="shrink-0 w-10 h-10 mr-4 gap">
                            <img
                              class="w-full h-full object-cover rounded-full"
                              src="img/avatar-3.jpg"
                              alt=""
                            />
                          </div>
                          <div class="grow">
                            <div dir="rtl" class="mb-1.5 text-lg font-semibold">
                              الکس برجلینگ
                            </div>
                            <div dir="rtl" class="text-base text-greyscale-400">
                              حسابداری در میل چیمپ
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="splide__slide w-[22.875rem]">
                      <div
                        class="flex flex-col p-6 border border-greyscale-100 bg-greyscale-0 shadow-2 first:mb-8 first:-mr-[9.5rem] first:ml-[9.5rem] xl:first:mb-6"
                      >
                        <div
                          dir="rtl"
                          class="h-[8.4375rem] mb-3.5 font-medium line-clamp-5"
                        >
                          وقتی با قرض دادن ثبت‌نام کردم بی‌معنی بود. این یکی از
                          بهترین تصمیماتی بود که من برای آن گرفتم اطمینان حاصل
                          کنم که وضعیت مالی من درست است
                        </div>
                        <div dir="rtl" class="flex items-center">
                          <div class="shrink-0 w-10 h-10 mr-4 gap">
                            <img
                              class="w-full h-full object-cover rounded-full"
                              src="img/avatar-1.jpg"
                              alt=""
                            />
                          </div>
                          <div class="grow">
                            <div dir="rtl" class="mb-1.5 text-lg font-semibold">
                              الکس برجلینگ
                            </div>
                            <div dir="rtl" class="text-base text-greyscale-400">
                              حسابداری در میل چیمپ
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="flex flex-col p-6 border border-greyscale-100 bg-greyscale-0 shadow-2 first:mb-8 first:-mr-[9.5rem] first:ml-[9.5rem] xl:first:mb-6"
                      >
                        <div
                          dir="rtl"
                          class="h-[8.4375rem] mb-3.5 font-medium line-clamp-5"
                        >
                          وقتی با قرض دادن ثبت‌نام کردم بی‌معنی بود. این یکی از
                          بهترین تصمیماتی بود که من برای آن گرفتم اطمینان حاصل
                          کنم که وضعیت مالی من درست است
                        </div>
                        <div dir="rtl" class="flex items-center">
                          <div class="shrink-0 w-10 h-10 mr-4 gap">
                            <img
                              class="w-full h-full object-cover rounded-full"
                              src="img/avatar-2.jpg"
                              alt=""
                            />
                          </div>
                          <div class="grow">
                            <div dir="rtl" class="mb-1.5 text-lg font-semibold">
                              الکس برجلینگ
                            </div>
                            <div dir="rtl" class="text-base text-greyscale-400">
                              حسابداری در میل چیمپ
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- join-->
        <div class="py-10">
          <div class="container-md">
            <div class="p-20 bg-secondary-300 lg:px-12 md:px-4 md:py-12">
              <div class="max-w-[50rem] mx-auto text-center xl:max-w-[46rem]">
                <div class="mb-4 text-h1 text-white xl:text-h2 md:text-h4">
                  ساده سازی پرداخت ها برای رشد کسب و کار
                </div>
                <div class="mb-10 text-white/70 md:mb-8 md:px-1">
                  به بیش از 300 شریک و مشتری در حال رشد با فینتو بپیوندید
                </div>
                <div
                  class="flex justify-center space-x-4 md:block md:space-x-0 md:space-y-4"
                >
                  <a
                    class="btn-primary min-w-[10.6rem] px-5 md:min-w-full gap"
                    href="sign-up.html"
                    >ایجاد حساب کاربری</a
                  >
                  <a
                    class="btn-secondary min-w-[10.6rem] px-5 md:min-w-full"
                    href="contact-us.html"
                    >تماس با قسمت فروش</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer-->
        <div class="mt-auto py-16 md:pt-12 md:pb-6">
          <div class="container">
            <div class="flex mb-18 lg:block lg:mb-14 md:mb-8">
              <a class="block w-23 ml-auto lg:mb-12 md:mb-8" href="index.html"><img class="w-full" src="img/logo-dark.svg" alt=""></a>

              <div
                class="flex w-full max-w-[50rem] 3xl:max-w-[45.625rem] lg:max-w-full md:flex-wrap md:-mt-5"
              >
                <div
                  class="grow pr-8 text-lg font-medium last:pr-0 md:w-1/2 md:mt-5 md:pr-5"
                >
                  <a
                    class="inline-block mb-4 text-[#666D80] transition-colors hover:text-primary-100 md:mb-2 md:text-base"
                    href="features.html"
                    >امکانات</a
                  >
                  <div class="flex flex-col items-start space-y-3">
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="#"
                      >لینک پرداخت</a
                    >
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="#"
                      >صورتحساب دوره ای</a
                    >
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="#"
                      >صورتحساب</a
                    >
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="#"
                      >تسویه‌حساب</a
                    >
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="integrations.html"
                      >یکپارچه سازی
                    </a>
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="pricing.html"
                      >قیمت گذاری</a
                    >
                  </div>
                </div>
                <div
                  class="grow pr-8 text-lg font-medium last:pr-0 md:w-1/2 md:mt-5 md:pr-5"
                >
                  <a
                    class="inline-block mb-4 text-[#666D80] transition-colors hover:text-primary-100 md:mb-2 md:text-base"
                    href="solutions.html"
                    >راه حل ها</a
                  >
                  <div class="flex flex-col items-start space-y-3">
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="#"
                      >تجارت الکترونیک</a
                    >
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="#"
                      >اتوماسیون مالی</a
                    >
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="#"
                      >رمزنگاری</a
                    >
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="#"
                      >تجارت جهانی</a
                    >
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="#"
                      >بازارها</a
                    >
                  </div>
                </div>
                <div
                  class="grow pr-8 text-lg font-medium last:pr-0 md:w-1/2 md:mt-5 md:pr-5"
                >
                  <a
                    class="inline-block mb-4 text-[#666D80] transition-colors hover:text-primary-100 md:mb-2 md:text-base"
                    href="integrations.html"
                    >منابع</a
                  >
                  <div class="flex flex-col items-start space-y-3">
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="documentation.html"
                      >آموزش ها</a
                    >
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="blog.html"
                      >وبلاگ</a
                    >
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="#"
                      >انجمن</a
                    >
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="privacy.html"
                    >
                      حفظ حریم شخصی</a
                    >
                  </div>
                </div>
                <div
                  class="grow pr-8 text-lg font-medium last:pr-0 md:w-1/2 md:mt-5 md:pr-5"
                >
                  <a
                    class="inline-block mb-4 text-[#666D80] transition-colors hover:text-primary-100 md:mb-2 md:text-base"
                    href="about-us.html"
                    >درباره</a
                  >
                  <div class="flex flex-col items-start space-y-3">
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="#"
                      >شرکت</a
                    >
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="career.html"
                      >مشاغل</a
                    >
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="faq.html"
                      >سوالات متداول</a
                    >
                    <a
                      class="transition-colors hover:text-primary-100 md:text-base"
                      href="contact-us.html"
                      >تماس با ما</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex justify-between items-center md:block md:pt-8 md:border-t md:border-greyscale-200"
            >
              <div
                class="flex items-center text-lg text-[#666D80] md:justify-center md:mb-4"
              >
                <svg
                  class="w-5 h-5 mr-1 fill-[#666D80]"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M11.992 1.992c5.52 0 10 4.48 10 10s-4.48 10-10 10-10-4.48-10-10 4.48-10 10-10zm0 2c-4.41 0-8 3.59-8 8s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8zm-.15 3.61c1.96 0 3.37 1.21 3.45 3.19h-1.79c-.02-.51-.35-1.6-1.63-1.66-.6.02-1.88.11-1.88 3 0 1.67.55 2.69 1.86 2.73 1.18-.06 1.6-.85 1.63-1.44h1.79c-.03 1.3-1.22 2.95-3.44 2.95-2.91 0-3.84-2.3-3.84-4.24 0-3.14 1.64-4.53 3.85-4.53z"
                  />
                </svg>
                <span>1403 فینتو. تمامی حقوق محفوظ است</span>
              </div>
              <div class="flex space-x-4 md:justify-center">
                <a
                  class="group gap"
                  href="https://www.linkedin.com/company/ui8"
                  target="_blank"
                >
                  <svg
                    class="fill-[#666D80] transition-colors group-hover:fill-primary-100 md:w-5 md:h-5"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M9.429 8.969h3.714v1.85c.535-1.064 1.907-2.02 3.968-2.02 3.951 0 4.889 2.118 4.889 6.004V22h-4v-6.312c0-2.213-.535-3.461-1.897-3.461-1.889 0-2.674 1.345-2.674 3.46V22h-4V8.969zM2.57 21.83h4V8.799h-4V21.83zM7.143 4.55a2.53 2.53 0 0 1-.753 1.802c-.484.481-1.138.75-1.82.748a2.59 2.59 0 0 1-1.818-.747A2.55 2.55 0 0 1 2 4.55c0-.677.27-1.325.753-1.803S3.89 2 4.571 2s1.336.269 1.819.747a2.54 2.54 0 0 1 .753 1.803z"
                    />
                  </svg>
                </a>
                <a class="group" href="https://twitter.com/ui8" target="_blank">
                  <svg
                    class="fill-[#666D80] transition-colors group-hover:fill-primary-100 md:w-5 md:h-5"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M23.356 4.96a9.33 9.33 0 0 1-2.675.733 4.67 4.67 0 0 0 2.048-2.578 9.3 9.3 0 0 1-2.958 1.13 4.66 4.66 0 0 0-5.601-.923 4.66 4.66 0 0 0-2.337 5.173 13.23 13.23 0 0 1-9.602-4.868c-.4.69-.63 1.49-.63 2.342a4.66 4.66 0 0 0 2.072 3.878c-.74-.024-1.463-.223-2.11-.583v.06A4.66 4.66 0 0 0 5.3 13.892c-.686.186-1.406.213-2.104.08a4.66 4.66 0 0 0 4.352 3.234 9.35 9.35 0 0 1-5.786 1.995 9.5 9.5 0 0 1-1.112-.065c2.129 1.369 4.608 2.096 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602a9.47 9.47 0 0 0 2.323-2.41l.002-.003z"
                    />
                  </svg>
                </a>
                <a
                  class="group"
                  href="https://www.facebook.com/ui8.net/"
                  target="_blank"
                >
                  <svg
                    class="fill-[#666D80] transition-colors group-hover:fill-primary-100 md:w-5 md:h-5"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M2 12.056c0 4.972 3.611 9.106 8.333 9.944v-7.222h-2.5V12h2.5V9.778c0-2.5 1.611-3.888 3.889-3.888.722 0 1.5.111 2.222.222v2.556h-1.277c-1.223 0-1.5.611-1.5 1.389V12h2.667l-.444 2.778h-2.222V22C18.389 21.162 22 17.028 22 12.056 22 6.525 17.5 2 12 2S2 6.525 2 12.056z"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="absolute top-0 left-1/2 bottom-0 flex justify-between w-[81rem] -translate-x-1/2 pointer-events-none 3xl:w-[75rem] lxl:left-6 lxl:right-6 lxl:w-auto lxl:translate-x-0 md:left-4.5 md:right-4.5"
      >
        <div
          class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider"
        ></div>
        <div
          class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider"
        ></div>
        <div
          class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider"
        ></div>
        <div
          class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider"
        ></div>
        <div
          class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider"
        ></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/scroll-lock/2.1.2/scroll-lock.min.js"
      integrity="sha512-MBbICakhGbnckq5iFnAvaoTQwTyZqIEdhXGbzpNvGhkr+ZhjRdaVmJuNCVyZkObp5O/Mlows81qbzLAalgnoIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="js/app.js"></script>
  </body>
</html>
