<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>فینتو</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon-16x16.png"
    />
    <link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Description no longer than 155 characters -->
    <meta name="description" content="Finto - Finance Website Coded Template" />
    <!-- Product Name -->
    <meta
      name="product-name"
      content="Finto - Finance Website Coded Template"
    />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ui8" />
    <meta
      name="twitter:title"
      content="Finto - Finance Website Coded Template"
    />
    <meta
      name="twitter:description"
      content="Premium Finance Website Template"
    />
    <meta name="twitter:creator" content="@ui8" />
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta
      name="twitter:image"
      content="https://ui8-finto-html-698394efb3c9.herokuapp.com/img/twitter-card.png"
    />
    <!-- Open Graph data for Facebook -->
    <meta
      property="og:title"
      content="Finto - Finance Website Coded Template"
    />
    <meta property="og:type" content="Article" />
    <meta
      property="og:url"
      content="https://ui8.net/unpixel/products/finto---finance-website-coded-template"
    />
    <meta
      property="og:image"
      content="https://ui8-finto-html-698394efb3c9.herokuapp.com/img/fb-og-image.png"
    />
    <meta
      property="og:description"
      content="Premium Finance Website Template"
    />
    <meta
      property="og:site_name"
      content="Finto - Finance Website Coded Template"
    />
    <meta property="fb:admins" content="132951670226590" />
    <!-- Open Graph data for LinkedIn -->
    <meta
      property="og:title"
      content="Finto - Finance Website Coded Template"
    />
    <meta
      property="og:url"
      content="https://ui8.net/unpixel/products/finto---finance-website-coded-template"
    />
    <meta
      property="og:image"
      content="https://ui8-finto-html-698394efb3c9.herokuapp.com/img/linkedin-og-image.png"
    />
    <meta
      property="og:description"
      content="Premium Finance Website Template"
    />
    <!-- Open Graph data for Pinterest -->
    <meta
      property="og:title"
      content="Finto - Finance Website Coded Template"
    />
    <meta
      property="og:url"
      content="https://ui8.net/unpixel/products/finto---finance-website-coded-template"
    />
    <meta
      property="og:image"
      content="https://ui8-finto-html-698394efb3c9.herokuapp.com/img/pinterest-og-image.png"
    />
    <meta
      property="og:description"
      content="Premium Finance Website Template"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600&amp;display=swap"
      rel="stylesheet"
    />
    <link href="css/style.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      rel="stylesheet"
    />
    <script>
      let viewportmeta = document.querySelector('meta[name="viewport"]');
      if (viewportmeta) {
        if (screen.width < 375) {
          let newScale = screen.width / 375;
          viewportmeta.content =
            "width=375, minimum-scale=" +
            newScale +
            ", maximum-scale=1.0, user-scalable=no, initial-scale=" +
            newScale +
            "";
        } else {
          viewportmeta.content =
            "width=device-width, maximum-scale=1.0, initial-scale=1.0";
        }
      }
    </script>
  </head>
  <body>
    <div
      class="flex min-h-screen supports-[min-height:100cqh]:min-h-[100cqh] supports-[min-height:100svh]:min-h-[100svh]"
    >
      <div class="flex items-center grow p-8 md:px-6">
        <div class="max-w-[31.875rem] w-full mx-auto">
          <div class="mb-4 text-center text-h5 md:h-6">
            در فینتو ثبت نام کنید
          </div>
          <div class="mb-10 text-center text-lg text-greyscale-400 md:mb-6">
            هوشمندانه تر ارسال کنید، خرج کنید و پس انداز کنید
          </div>
          <div
                  class="flex space-x-4 mb-5 md:block md:mb-4 md:space-x-0 md:space-y-4"
          >
            <button class="btn-secondary btn-md flex-1 rounded-lg md:w-full">
              <span>با گوگل وارد شوید</span>
              <img class="w-5" src="img/google.svg" alt="" />
            </button>
            <button class="btn-secondary btn-md flex-1 rounded-lg md:w-full">
              <span>با اپل وارد شوید</span>
              <img class="w-5" src="img/apple.svg" alt="" />
            </button>
          </div>
          <div class="flex items-center mb-5 md:mb-4">
            <div class="grow h-0.25 bg-greyscale-100"></div>
            <div class="mx-3 text-base text-greyscale-400">یا با ایمیل</div>
            <div class="grow h-0.25 bg-greyscale-100"></div>
          </div>
          <form>
            <div class="flex mb-4 space-x-4 md:space-x-3 md:mb-3">
              <div class="flex-1">
                <div class="relative">
                  <input
                          dir="rtl"
                          class="w-full h-12 px-3.5 bg-transparent border border-greyscale-100 rounded-lg shadow-[0_0.0625rem_0.125rem_0_rgba(16,24,40,0.05)] text-lg text-greyscale-900 outline-none transition-colors placeholder:text-greyscale-300 focus:!border-primary-300"
                          type="text"
                          name="last-name"
                          placeholder="نام خانوادگی"
                          required
                  />
                </div>
              </div>
              <div class="flex-1">
                <div class="relative">
                  <input
                          dir="rtl"
                          class="w-full h-12 px-3.5 bg-transparent border border-greyscale-100 rounded-lg shadow-[0_0.0625rem_0.125rem_0_rgba(16,24,40,0.05)] text-lg text-greyscale-900 outline-none transition-colors placeholder:text-greyscale-300 focus:!border-primary-300"
                          type="text"
                          name="first-name"
                          placeholder="نام"
                          required
                  />
                </div>
              </div>
            </div>
            <div class="mb-4 md:mb-3">
              <div class="relative">
                <input
                        dir="rtl"
                        class="w-full h-12 px-3.5 bg-transparent border border-greyscale-100 rounded-lg shadow-[0_0.0625rem_0.125rem_0_rgba(16,24,40,0.05)] text-lg text-greyscale-900 outline-none transition-colors placeholder:text-greyscale-300 focus:!border-primary-300"
                        type="email"
                        name="email"
                        placeholder="ایمیل"
                        required
                />
              </div>
            </div>
            <div class="mb-10 md:mb-6">
              <div class="relative">
                <input
                        dir="rtl"
                        class="w-full h-12 pl-3.5 pr-12 bg-transparent border border-greyscale-100 rounded-lg shadow-[0_0.0625rem_0.125rem_0_rgba(16,24,40,0.05)] text-lg text-greyscale-900 outline-none transition-colors placeholder:text-greyscale-300 focus:!border-primary-300"
                        type="password"
                        name="password"
                        placeholder="کلمه عبور"
                        required
                />
                <button
                        class="group absolute top-0 right-0 bottom-0 w-12 text-0"
                        type="button"
                >
                  <svg
                          class="inline-block fill-greyscale-300 transition-colors group-hover:fill-primary-100"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                  >
                    <path
                            d="M12 3.9c3.042 0 5.705 1.469 7.969 3.884.778.83 1.453 1.716 2.026 2.602l.71 1.211a.9.9 0 0 1 0 .805c-.127.253-.364.675-.71 1.211-.573.887-1.248 1.773-2.026 2.602C17.705 18.631 15.042 20.1 12 20.1s-5.705-1.469-7.969-3.884c-.778-.83-1.453-1.716-2.026-2.602l-.71-1.211a.9.9 0 0 1 0-.805c.127-.253.364-.675.71-1.211.573-.887 1.248-1.773 2.026-2.602C6.295 5.369 8.958 3.9 12 3.9zm0 1.8c-2.471 0-4.701 1.231-6.656 3.316a16.66 16.66 0 0 0-1.827 2.348l-.385.625-.008.011.008.013.274.451.111.173a16.66 16.66 0 0 0 1.827 2.348C7.299 17.069 9.529 18.3 12 18.3s4.701-1.231 6.656-3.316a16.66 16.66 0 0 0 1.827-2.348l.385-.625.006-.013-.006-.011-.274-.451-.111-.173a16.66 16.66 0 0 0-1.827-2.348C16.701 6.931 14.471 5.7 12 5.7zm0 2.7a3.6 3.6 0 1 1 0 7.2 3.6 3.6 0 0 1 0-7.2zm0 1.8a1.8 1.8 0 1 0 0 3.6 1.8 1.8 0 1 0 0-3.6z"
                    />
                  </svg>
                </button>
              </div>
            </div>
            <button class="btn-primary btn-md w-full">ثبت نام</button>
          </form>
          <div class="mt-10 text-center text-lg text-greyscale-400 md:mt-6">
            <span>حساب کاربری دارید؟</span>
            <a
                    class="font-semibold text-greyscale-900 transition-colors hover:text-primary-100"
                    href="sign-in.html"
            >ورود</a
            >
          </div>
        </div>
      </div>

      <div class="flex p-2.5 lg:hidden">
        <div class="relative flex items-center grow bg-secondary-300">
          <div
            class="relative z-2 w-[55rem] py-8 4xl:w-[41.875rem] 2xl:w-[36rem] xl:w-[30rem]"
          >
            <!-- splide-->
            <div class="splide splide-login">
              <div class="splide__track">
                <div class="splide__list">
                  <div class="splide__slide px-8">
                    <div
                      class="relative w-[28.75rem] h-[22.5rem] mx-auto mb-12 xl:w-auto xl:h-[18rem] xl:mx-6"
                    >
                      <img
                        class="absolute top-0 left-0 w-full h-full object-contain"
                        src="img/slider-pic-1.png"
                        alt=""
                      />
                    </div>
                    <div class="max-w-[28.125rem] mx-auto text-center">
                      <div class="mb-4 text-h5 text-greyscale-0 xl:text-h6">
                        کسب و کار خود را سریعتر پیش ببرید
                      </div>
                      <div class="text-lg text-white/50">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است. چاپگرها و.
                      </div>
                    </div>
                  </div>
                  <div class="splide__slide px-8">
                    <div
                      class="relative w-[28.75rem] h-[22.5rem] mx-auto mb-12 xl:w-auto xl:h-[18rem] xl:mx-6"
                    >
                      <img
                        class="absolute top-0 left-0 w-full h-full object-contain"
                        src="img/slider-pic-2.png"
                        alt=""
                      />
                    </div>
                    <div class="max-w-[28.125rem] mx-auto text-center">
                      <div class="mb-4 text-h5 text-greyscale-0 xl:text-h6">
                        کارت های سفارشی ایجاد کنید
                      </div>
                      <div class="text-lg text-white/50">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است. چاپگرها و.
                      </div>
                    </div>
                  </div>
                  <div class="splide__slide px-8">
                    <div
                      class="relative w-[28.75rem] h-[22.5rem] mx-auto mb-12 xl:w-auto xl:h-[18rem] xl:mx-6"
                    >
                      <img
                        class="absolute top-0 left-0 w-full h-full object-contain"
                        src="img/slider-pic-1.png"
                        alt=""
                      />
                    </div>
                    <div class="max-w-[28.125rem] mx-auto text-center">
                      <div class="mb-4 text-h5 text-greyscale-0 xl:text-h6">
                        کسب و کار خود را سریعتر پیش ببرید
                      </div>
                      <div class="text-lg text-white/50">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است. چاپگرها و.
                      </div>
                    </div>
                  </div>
                  <div class="splide__slide px-8">
                    <div
                      class="relative w-[28.75rem] h-[22.5rem] mx-auto mb-12 xl:w-auto xl:h-[18rem] xl:mx-6"
                    >
                      <img
                        class="absolute top-0 left-0 w-full h-full object-contain"
                        src="img/slider-pic-2.png"
                        alt=""
                      />
                    </div>
                    <div class="max-w-[28.125rem] mx-auto text-center">
                      <div class="mb-4 text-h5 text-greyscale-0 xl:text-h6">
                        کارت های سفارشی ایجاد کنید
                      </div>
                      <div class="text-lg text-white/50">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است. چاپگرها و.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="absolute top-0 left-12 right-12 bottom-0 flex justify-between pointer-events-none"
          >
            <div
              class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider-light"
            ></div>
            <div
              class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider-light"
            ></div>
            <div
              class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider-light"
            ></div>
            <div
              class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider-light"
            ></div>
            <div
              class="w-0.25 bg-repeat bg-[length:100%_.5rem] opacity-60 bg-gradient-divider-light"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/scroll-lock/2.1.2/scroll-lock.min.js"
      integrity="sha512-MBbICakhGbnckq5iFnAvaoTQwTyZqIEdhXGbzpNvGhkr+ZhjRdaVmJuNCVyZkObp5O/Mlows81qbzLAalgnoIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="js/app.js"></script>
  </body>
</html>
