<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>فین اپ</title>
    <meta name="description" content="Finapp HTML Mobile Template">
    <meta name="keywords" content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icon/192x192.png">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="manifest" href="__manifest.json">
</head>

<body>

    <!-- loader -->
    <div id="loader">
        <img src="assets/img/loading-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader">
        <div class="left">
            <a href="#" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle">تایپوگرافی</div>
        <div class="right"></div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">


        <div class="section mt-2">
            <div class="section-title">سرفصل ها</div>
            <div class="card">
                <div class="card-body">
                    <h1>عنوان h1</h1>
                    <p class="mb-3">متن نمونه</p>
                    <h2>عنوان h2</h2>
                    <p class="mb-3">متن نمونه</p>
                    <h3>عنوان h3</h3>
                    <p class="mb-3">متن نمونه</p>
                    <h4>عنوان h4</h4>
                    <p class="mb-3">متن نمونه</p>
                    <h5>عنوان h5</h5>
                    <p class="mb-3">متن نمونه</p>
                    <h6>عنوان h6</h6>
                    <p class="mb-0">متن نمونه</p>
                </div>
            </div>
        </div>

        <div class="section mt-2">
            <div class="section-title">نقل قول های بلوکی</div>
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote">
                        <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</p>
                    </blockquote>

                    <blockquote class="blockquote">
                        <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</p>
                        <footer class="blockquote-footer">شخصی معروف در <cite title="Source Title">منبع
                            عنوان</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="section mt-2">
            <div class="section-title">لیست ها</div>
            <div class="card">
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی </li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی </li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی </li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی </li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی 
                            <ul>
                                <li>لورم ایپسوم متن ساختگی با تولید سادگی </li>
                                <li>لورم ایپسوم متن ساختگی با تولید سادگی </li>
                                <li>لورم ایپسوم متن ساختگی با تولید سادگی </li>
                                <li>لورم ایپسوم متن ساختگی با تولید سادگی </li>
                            </ul>
                        </li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی </li>
                        <li>لورم ایپسوم متن ساختگی با تولید سادگی </li>
                        <li>لورم ایپسوم متن ساختگی</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="section mt-2">
            <div class="section-title">رهبری</div>
            <div class="card">
                <div class="card-body">
                    <code>lead.</code>
                    <div class="lead">
                        این یک متن نمونه است.
                    </div>
                </div>
            </div>
        </div>

        <div class="section mt-2 mb-2">
            <div class="section-title">عناصر متن</div>
            <div class="card">
                <div class="card-body">
                    <div class="lead">
                        <p>می توانید از تگ علامت گذاری استفاده کنید <mark>برجسته</mark> متن.</p>
                        <p><del>این خط متن به عنوان متن حذف شده در نظر گرفته می شود.</del></p>
                        <p><s>این خط از متن قرار است دیگر دقیق نباشد.</s></p>
                        <p><ins>این خط متن قرار است به عنوان یک افزوده به سند تلقی شود.</ins></p>
                        <p><u>این خط متن به صورت زیرخط دار ارائه می شود</u></p>
                        <p><small>این خط از متن به عنوان چاپ ظریف در نظر گرفته شده است.</small></p>
                        <p><strong>این خط به صورت متن پررنگ ارائه می شود.</strong></p>
                        <p><em>این خط به صورت متن ایتالیک ارائه شده است.</em></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- * App Capsule -->

    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
        <a href="index.html" class="item">
            <div class="col">
                <ion-icon name="pie-chart-outline"></ion-icon>
                <strong>بررسی اجمالی</strong>
            </div>
        </a>
        <a href="app-pages.html" class="item">
            <div class="col">
                <ion-icon name="document-text-outline"></ion-icon>
                <strong>صفحات</strong>
            </div>
        </a>
        <a href="app-components.html" class="item">
            <div class="col">
                <ion-icon name="apps-outline"></ion-icon>
                <strong>ابزارها</strong>
            </div>
        </a>
        <a href="app-cards.html" class="item">
            <div class="col">
                <ion-icon name="card-outline"></ion-icon>
                <strong>کارت های من</strong>
            </div>
        </a>
        <a href="app-settings.html" class="item">
            <div class="col">
                <ion-icon name="settings-outline"></ion-icon>
                <strong>تنظیمات</strong>
            </div>
        </a>
    </div>
    <!-- * App Bottom Menu -->


    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="assets/js/plugins/splide/splide.min.js"></script>
    <!-- Base Js File -->
    <script src="assets/js/base.js"></script>

</body>

</html>