<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>فین اپ</title>
    <meta name="description" content="Finapp HTML Mobile Template">
    <meta name="keywords" content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icon/192x192.png">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="manifest" href="__manifest.json">
</head>

<body>

    <!-- loader -->
    <div id="loader">
        <img src="assets/img/loading-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader">
        <div class="left">
            <a href="#" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle">نان تست</div>
        <div class="right">
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">


        <div class="section mt-2 mb-2">
            <div class="section-title">استفاده</div>
            <div class="card">
                <div class="card-body">
                    <h4>استفاده پایه</h4>
                    آن را با
                    <p>
                        <code>toastbox('toastID')</code>
                    </p>
                    <h4>بسته شدن خودکار</h4>
                    همچنین، می توانید آن را در هر ثانیه پس از تماس به طور خودکار ببندید.
                    <br>
                    <strong>مثال :</strong>
                    بسته شدن خودکار در 3 ثانیه<br>
                    <code>toastbox('toastID', 3000)</code>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-title">بالا</div>
        </div>
        <ul class="listview link-listview inset">
            <li>
                <a href="#" onclick="toastbox('toast-1')">
                    پیش فرض
                </a>
            </li>
            <li>
                <a href="#" onclick="toastbox('toast-2')">
                    برای بستن ضربه بزنید
                </a>
            </li>
            <li>
                <a href="#" onclick="toastbox('toast-3')">
                    با آیکون
                </a>
            </li>
            <li>
                <a href="#" onclick="toastbox('toast-4', 2000)">
                    بسته شدن خودکار
                </a>
            </li>
        </ul>

        <!-- toast top -->
        <div id="toast-1" class="toast-box toast-top">
            <div class="in">
                <div class="text">
                    پرداخت جدیدی دریافت کرد
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-text-light close-button">خوب</button>
        </div>
        <!-- * toast top -->

        <!-- toast top tap to close -->
        <div id="toast-2" class="toast-box toast-top tap-to-close">
            <div class="in">
                <div class="text">
                    برای بستن من ضربه بزنید
                </div>
            </div>
        </div>
        <!-- * toast top tap to close -->

        <!-- toast top iconed -->
        <div id="toast-3" class="toast-box toast-top">
            <div class="in">
                <ion-icon name="cash-outline" class="text-success"></ion-icon>
                <div class="text">
                    پول ارسال شد!
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-text-success close-button">بستن</button>
        </div>
        <!-- * toast top iconed -->

        <!-- toast top auto close in 2 seconds -->
        <div id="toast-4" class="toast-box toast-top">
            <div class="in">
                <div class="text">
                    بسته شدن خودکار در 2 ثانیه
                </div>
            </div>
        </div>
        <!-- * toast top auto close in 2 seconds -->


        <div class="section mt-2">
            <div class="section-title">پایین</div>
        </div>
        <ul class="listview link-listview inset">
            <li>
                <a href="#" onclick="toastbox('toast-5')">
                    پیش فرض
                </a>
            </li>
            <li>
                <a href="#" onclick="toastbox('toast-6')">
                    برای بستن ضربه بزنید
                </a>
            </li>
            <li>
                <a href="#" onclick="toastbox('toast-7')">
                    با آیکون
                </a>
            </li>
            <li>
                <a href="#" onclick="toastbox('toast-8', 2000)">
                    بسته شدن خودکار
                </a>
            </li>
        </ul>

        <!-- toast bottom -->
        <div id="toast-5" class="toast-box toast-bottom">
            <div class="in">
                <div class="text">
                    پرداخت جدیدی دریافت کرد
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-text-light close-button">خوب</button>
        </div>
        <!-- * toast bottom -->

        <!-- toast bottom tap to close -->
        <div id="toast-6" class="toast-box toast-bottom tap-to-close">
            <div class="in">
                <div class="text">
                    برای بستن من ضربه بزنید.
                </div>
            </div>
        </div>
        <!-- * toast bottom tap to close -->

        <!-- toast bottom iconed -->
        <div id="toast-7" class="toast-box toast-bottom">
            <div class="in">
                <ion-icon name="card-outline" class="text-danger"></ion-icon>
                <div class="text">
                    کارت شما حذف شده است.
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-text-light close-button">خوب</button>
        </div>
        <!-- * toast bottom iconed -->

        <!-- toast top auto close in 2 seconds -->
        <div id="toast-8" class="toast-box toast-bottom">
            <div class="in">
                <div class="text">
                    بسته شدن خودکار در 2 ثانیه
                </div>
            </div>
        </div>
        <!-- * toast top auto close in 2 seconds -->




        <div class="section mt-2">
            <div class="section-title">مرکز</div>
        </div>
        <ul class="listview link-listview inset">
            <li>
                <a href="#" onclick="toastbox('toast-9')">
                    پیش فرض
                </a>
            </li>
            <li>
                <a href="#" onclick="toastbox('toast-10')">
                    برای بستن ضربه بزنید
                </a>
            </li>
            <li>
                <a href="#" onclick="toastbox('toast-11')">
                    با آیکون
                </a>
            </li>
            <li>
                <a href="#" onclick="toastbox('toast-12', 2000)">
                    بسته شدن خودکار
                </a>
            </li>
        </ul>

        <!-- toast center -->
        <div id="toast-9" class="toast-box toast-center">
            <div class="in">
                <div class="text">
                    نان تست مرکزی
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-text-light close-button">بستن</button>
        </div>
        <!-- toast center -->

        <!-- toast center tap to close -->
        <div id="toast-10" class="toast-box toast-center tap-to-close">
            <div class="in">
                <div class="text">
                    برای بستن من ضربه بزنید
                </div>
            </div>
        </div>
        <!-- toast center tap to close -->

        <!-- toast center iconed -->
        <div id="toast-11" class="toast-box toast-center">
            <div class="in">
                <ion-icon name="checkmark-circle" class="text-success"></ion-icon>
                <div class="text">
                    پیام موفقیت
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-text-light close-button">بستن</button>
        </div>
        <!-- toast center iconed -->

        <!-- toast center auto close in 2 seconds -->
        <div id="toast-12" class="toast-box toast-center">
            <div class="in">
                <div class="text">
                    بسته شدن خودکار در 2 ثانیه
                </div>
            </div>
        </div>
        <!-- toast center auto close in 2 seconds -->




        <div class="section mt-2">
            <div class="section-title">رنگ ها</div>
        </div>
        <ul class="listview link-listview inset mb-2">
            <li>
                <a href="#" onclick="toastbox('toast-13')">
                    <span class="text-primary">اولیه</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="toastbox('toast-14')">
                    <span class="text-secondary">ثانوی</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="toastbox('toast-15')">
                    <span class="text-success">موفقیت</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="toastbox('toast-16')">
                    <span class="text-danger">خطر</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="toastbox('toast-17')">
                    <span class="text-warning">هشدار</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="toastbox('toast-18')">
                    <span class="text-info">اطلاعات</span>
                </a>
            </li>
        </ul>

        <!-- toast primary -->
        <div id="toast-13" class="toast-box toast-bottom bg-primary">
            <div class="in">
                <div class="text">
                    رنگ اولیه
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-text-light close-button">خوب</button>
        </div>
        <!-- * toast primary -->

        <!-- toast secondary -->
        <div id="toast-14" class="toast-box toast-bottom bg-secondary">
            <div class="in">
                <div class="text">
                    رنگ ثانویه
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-text-light close-button">خوب</button>
        </div>
        <!-- * toast secondary -->

        <!-- toast success -->
        <div id="toast-15" class="toast-box toast-bottom bg-success">
            <div class="in">
                <div class="text">
                    رنگ موفقیت
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-text-light close-button">خوب</button>
        </div>
        <!-- * toast success -->

        <!-- toast danger -->
        <div id="toast-16" class="toast-box toast-bottom bg-danger">
            <div class="in">
                <div class="text">
                    رنگ خطرناک
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-text-light close-button">خوب</button>
        </div>
        <!-- * toast danger -->

        <!-- toast warning -->
        <div id="toast-17" class="toast-box toast-bottom bg-warning">
            <div class="in">
                <div class="text">
                    رنگ هشدار
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-text-light close-button">خوب</button>
        </div>
        <!-- * toast warning -->

        <!-- toast info -->
        <div id="toast-18" class="toast-box toast-bottom bg-info">
            <div class="in">
                <div class="text">
                    رنگ اطلاعات
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-text-light close-button">خوب</button>
        </div>
        <!-- * toast info -->




    </div>
    <!-- * App Capsule -->

    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
        <a href="index.html" class="item">
            <div class="col">
                <ion-icon name="pie-chart-outline"></ion-icon>
                <strong>بررسی اجمالی</strong>
            </div>
        </a>
        <a href="app-pages.html" class="item">
            <div class="col">
                <ion-icon name="document-text-outline"></ion-icon>
                <strong>صفحات</strong>
            </div>
        </a>
        <a href="app-components.html" class="item">
            <div class="col">
                <ion-icon name="apps-outline"></ion-icon>
                <strong>ابزارها</strong>
            </div>
        </a>
        <a href="app-cards.html" class="item">
            <div class="col">
                <ion-icon name="card-outline"></ion-icon>
                <strong>کارت های من</strong>
            </div>
        </a>
        <a href="app-settings.html" class="item">
            <div class="col">
                <ion-icon name="settings-outline"></ion-icon>
                <strong>تنظیمات</strong>
            </div>
        </a>
    </div>
    <!-- * App Bottom Menu -->


    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="assets/js/plugins/splide/splide.min.js"></script>
    <!-- Base Js File -->
    <script src="assets/js/base.js"></script>

</body>

</html>